# Data folder
data/

# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.class

# Zip files
*.zip

# CSV files in root
/*.csv

# Output directory
out/

# Test and script directories
tests/
scripts/

# Database files
*.db

# Node.js
node_modules/
package-lock.json
